<h1 class="text-center mb-5">Course Listing</h1>

<div class="wrapper">
  <div class="card-box">
  <% @courses.each do |course| %>
    <div class="box">
      <div>
        <h3><%= course.code %>: <%= course.title%></h3>
        <p><%= course.description %></p>
      </div>
      <div>
        <hr>
        <% if logged_in? && !(current_user.courses.include?(course)) %> <% 'COMMENT: check if user logged in and user not already enrolled on the course' %>
          <%= link_to 'Enroll in this course', course_enroll_path(course_id: course.id), method: :post, class:"btn btn-success" %>
        <% end %>
        <%= link_to 'Read More', course_path(course), class:"btn btn-info" %>
      </div>
    </div>
  <% end %>
</div>
